[Source]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-cors= "*"
flask-peewee = "*"
peewee = "*"
python-dotenv = "*"
wtforms = "*"
wtf-peewee = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
